.footer{
    width: 100%;
    height: 15%;
    background-color: $greenColor;
    p{
        color: white;
        text-align: center;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color:$mainColor;
            }
        }
    }
}