
*{
   box-sizing: border-box;
    //height: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma ,Arial;
    
   
}
html {
    scroll-behavior: smooth;
}

.container{
    margin: auto;
    width: 90%;
}
    
   
/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%; }
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {
    width: 100%;
   
    }*/
[class*="col-"]{
    //width: 100%;
    float: left;
    padding: 2%;
   
   
}
.row::after{
    clear: both;
    display: table;
    content: "";
    
    
}
@media only screen and (max-width: 600px) {
    [class*="col-"]{
        width: 100%;

        .slide2{
        
        display: none;
    }
    
    .nav{
        height: 80px;
        background-color: $greenColor ;
    }
    .view{
        display: block;
    }
    .contentNav{
        display: none;
        
    
        li{
            background-color: white;
            width: 100%;
           border-bottom: 1px solid #ddd;
           
        }
       
    
    }
    

    
       
    }

}

@media only screen and (min-width: 600px) {
    
    /* For tablets: */
    .slide2{
        
        display: none;
    }
    .view{
        display: none;
    }
    .contentNav{
        display: block !important;
    }
    

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .slide2{
        
        display: block;
    }
    .view{
        display: none;
    }
    .contentNav{
        display: block !important;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

 
