/*$maxMobile : "(max-width: 767px)";
$maxSmall : "(max-width: 991px)";
$minSmall : "(min-width: 768px)";
$minMedium : "(min-width: 992px)";
$minLarge : "(min-width: 1200px)";*/







$mainColor: #0d0e0a;
$greenColor: #308409;
$titleColor : #0c0404;
$fontAwesome :2rem;
$fullWidth:100%;
